@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply w-full rounded-full border border-stone-200 px-4 py-2 text-sm transition-all duration-300 placeholder:text-stone-200 focus:outline-none focus:ring focus:ring-yellow-400 md:px-6 md:py-3;
  }
}

/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(#93403b 0 0), linear-gradient(#93403b 0 0),
    linear-gradient(#93403b 0 0), linear-gradient(#93403b 0 0),
    linear-gradient(#fcbc3f 0 0), linear-gradient(#fcbc3f 0 0),
    linear-gradient(#fcbc3f 0 0), linear-gradient(#fcbc3f 0 0), #93403b;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  animation: loading 3s infinite;
}
@keyframes loading {
  0% {
    background-size: 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
  }
  12.5% {
    background-size: 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 51% 51%;
  }
  25% {
    background-size: 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 51% 51%, 51% 51%;
  }
  37.5% {
    background-size: 0 0, 0 0, 0 0, 0 0, 0 0, 51% 51%, 51% 51%, 51% 51%;
  }
  50% {
    background-size: 0 0, 0 0, 0 0, 0 0, 51% 51%, 51% 51%, 51% 51%, 51% 51%;
  }
  62.5% {
    background-size: 0 0, 0 0, 0 0, 51% 51%, 51% 51%, 51% 51%, 51% 51%, 51% 51%;
  }
  75% {
    background-size: 0 0, 0 0, 51% 51%, 51% 51%, 51% 51%, 51% 51%, 51% 51%,
      51% 51%;
  }
  87.5% {
    background-size: 0 0, 51% 51%, 51% 51%, 51% 51%, 51% 51%, 51% 51%, 51% 51%,
      51% 51%;
  }
  100% {
    background-size: 51% 51%, 51% 51%, 51% 51%, 51% 51%, 51% 51%, 51% 51%,
      51% 51%, 51% 51%;
  }
}

/* .loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(#333 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
} */
